# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  issues:
    types: [opened]

jobs:
  message_job:
    runs-on: ubuntu-latest
    name: CM Message
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: CM message step
        uses: ./
        id: hello
        with:
          from: 'CM.com'
          to: '0031650418237'
          message: 'An issue for was opened for text-actions'
          CM_PRODUCT_TOKEN: ${{ secrets.CM_PRODUCT_TOKEN }}
      
